{% extends "layout.html" %}
{% block content %}
<style>
    button {
      display: block;
      margin: auto;
      position: absolute;
      cursor: pointer;
      border: 2px solid black;
      border-radius: 20px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      width: 250px;
      height: 80px;
      font-size: 24px;
    }
    button:hover {
      background-color: white;
      color: #f4540a;
      border-color: #f4540a;
      box-shadow: 0 6px 12px rgba(0,0,0,0.16), 0 6px 12px rgba(0,0,0,0.23);
    }
    body {
      background-size: cover
    }
</style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      // position the first button 50 pixels from the top and left edges
      $(".clientbtn").css({
        top: '50%',
        left: 600
      });

      // position the second button 50 pixels from the top and right edges
      $(".fundibtn").css({
        top: '50%',
        right: 200
      });
    })
    $(document).ready(function() {
      var images = [];
      var index = 0;
      // fetch the list of images from the server
      $.ajax({
        url: './static/img/get_started/',
        success: function(data) {
          // parse the list of images from the server response
          $(data).find('a:contains(".jpg")').each(function() {
            var filename = $(this).attr('href');
            images.push('./static/img/get_started/' + filename);
          });

          // change the background image every 5 seconds
          setInterval(function() {
            $('body').css('background-image', 'url(' + images[index] + ')');
            index = (index + 1) % images.length;
          }, 5000);
        }
      });
    });
  </script>
</head>
<body>

  <button class="clientbtn">Post a Job!</button>
  <button class="fundibtn">Sign Up as a Fundi!</button>
</body>

{% endblock %}