{% extends "layout.html" %}
{% block content %}


<!-- Create the form using Flask WTForms -->
<form action="" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <!-- Title field -->
    <div class="form-group">
        {{ form.title.label(class="control-label") }}
        {{ form.title(class="form-control", placeholder='Title') }}
        {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

    <!-- Description field -->
    <div class="form-group">
        {{ form.description.label(class="control-label") }}
        {{ form.description(class="form-control") }}
        {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

    <!-- Location field -->
    <div class="form-group">
        {{ form.location.label(class="control-label") }}
        {{ form.location(class="form-control") }}
        {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

    <!-- Service Needed field -->
    <div class="form-group">
		{{ form.service.label(class="control-label") }}
        {{ form.service(class="form-control") }}
        {% for error in form.service.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

	<div class="form-group">
		{{ form.image_link.label(class="control-label") }}
        {{ form.image_link(class="form-control") }}
        {% for error in form.image_link.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

	<div class="form-group">
		{{ form.price_range.label(class="control-label") }}
        {{ form.price_range(class="form-control") }}
        {% for error in form.price_range.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

	<div class="form-group">
		{{ form.submit(class="btn btn-outline-info") }}
	</div>



{% endblock %}